<div id="footer">
    <footer class="bg-secondary text-center text-lg-start">
        <div class="text-center p-3 text-white">
            © 2022 Copyright:
            <span class="text-white">Phone Khaing Hein</span>
        </div>
    </footer>
</div>